Dir[File.dirname(__FILE__) + "/schemas/**/*.rb"].each do |file|
  require file
end

module <%= module_name %>
  module Schemas
    def self.fetch(command:)
      Schemas
        .const_get(command.name.module.capitalize)
        .const_get(command.name.name.capitalize)
    end
  end
end
