Gem::Specification.new do |s|
  s.name        = '<%= name %>'
  s.homepage    = ""
  s.version     = '0.0.0'
  s.date        = ''
  s.summary     = ""
  s.description = ""
  s.authors     = [""]
  s.email       = ''
  s.files       = Dir["lib/**/*"]
  s.license     = 'MIT'
end
