require_relative '<%= name %>_behavior.rb'

module <%= hexagon_module_name %>
  module Domain
    describe <%= aggregate_module_name %>::<%= module_name %> do
      subject { described_class.new }

      <% attribute_names_as_strings.each do |attribute_name| %>
        <%= "let(:#{attribute_name}) { double('#{attribute_name.camelize}') }" %>
      <% end %>

      it_should_behave_like("a Domain <%= module_name %>")
    end
  end
end
