require_relative '../lib/<%= name %>/'
require 'rack/test'
require 'rspec'

RSpec.configure do |config|
  config.after(:each) do
    <%= module_name %>::Adapters::Databases::Memory.new.delete_all
  end
end
