ENV['RACK_ENV'] = 'test'
HEX = <%= module_name %>::App.new

module <%= module_name %>Mixin
  include Rack::Test::Methods
  def app()
    <%= module_name %>::Adapters::ResourceServer::App.new(hexagon: HEX)
  end
end

RSpec.configure do |config|
  config.include <%= module_name %>Mixin
  config.after(:each) do
    <%= module_name %>::Adapters::Databases::Memory.new.delete_all
  end
end
