class <%= hexagon_name.camelize %>
  module Domain
    module <%= name.camelize %>
      module Schemas
        <%= head_name.camelize %> = Dry::Validation.Schema do
          <%=
            attributes.keys.map do |attribute, type|
              "required(:#{attribute}).filled"
            end.join("\n\t\t\t\t\t")
          %>
        end
      end
    end
  end
end
