Sequel.migration do
  up do
    create_table(:<%= migration_builder.table_name %>) do
      primary_key :id
      <%- migration_builder.attributes.each do |attribute| -%>
      <%= attribute.type.camelcase %> :<%= attribute.name.to_sym %>, :null=>false
      <%- end -%>
    end
  end

  down do
    drop_table(:<%= migration_builder.table_name %>)
  end
end
