source 'https://rubygems.org'

gem 'hecks-application', '<%= Hecks.version %>'
gem 'hecks-adapters', '<%= Hecks.version %>'
gem 'hecks-adapters-dynamodb', '<%= Hecks.version %>'
gem '<%= domain_name %>'
