require_relative '<%= aggregate_name %>/create'
require_relative '<%= aggregate_name %>/update'
require_relative '<%= aggregate_name %>/delete'

module <%= hexagon_module_name %>
  module Schemas
    def self.fetch(command:)
      Schemas
        .const_get(command.name.module.capitalize)
        .const_get(command.name.name.capitalize)
    end
  end
end
