describe Repositories::<%= name.camelize %> do
  subject { described_class.new }
  describe '#create' do
  end
  describe '#read' do
  end
  describe '#update' do
  end
  describe '#delete' do
  end
end
