module <%= camelized_domain_name %>
  module Domain
    module <%= camelized_name %>
      class <%= camelized_head_name %>
        attr_accessor <%= attributes_as_string %>
        def initialize(<%= attribute_param_names %>)
        <%= assignment_template(attributes) %>
        end

        def to_json
          JSON.generate(<%= keys_and_values %>)
        end
      end
    end
  end
end
