Sequel.migration do
  up do
    create_table(:<%= table_name %>) do
      primary_key :id
      <% attributes.each do %>
        <%= attribute.type.camelcase %> <%= attribute.name.to_sym %>, :null=>false
      <% end %>
    end
  end

  down do
    drop_table(:<%= table_name %>)
  end
end
